/MiningCalculator/.vs
/MiningCalculator/MiningCalculator/bin
/MiningCalculator/MiningCalculator/obj
/MiningCalculator/MiningCalculator.Services/bin/Debug
/MiningCalculator/MiningCalculator.Services/obj
/MiningCalculator/MiningCalculator.Services/bin/Release
/MiningCalculator/MiningCalculator.BusinessLogic/obj
/MiningCalculator/MiningCalculator.BusinessLogic/bin/Debug/net10.0
/MiningCalculator/MiningCalculator/MiningCalculator.csproj.user
