/MiningCalculator/.vs
/MiningCalculator/MiningCalculator/bin
/MiningCalculator/MiningCalculator/obj
/MiningCalculator/MiningCalculator.Services/bin/Debug
/MiningCalculator/MiningCalculator.Services/obj
